*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* dark */
    --dark-green-1: #2f3e46;
    --dark-green-2: #354f52;
    --dark-green-3: #52796f;
    --dark-green-4: #84a98c;
    --dark-green-5: #cad2c5;

    /* light */
    --light-brown-1: #b2967d;
    --light-brown-2: #e6beae;
    --light-brown-3: #e7d8c9;
    --light-brown-4: #eee4e1;
    --light-brown-5: #ecf8f8;

    /* fonts */
    --font-800: poppins-extrabold, sans-serif;
    --font-700: poppins-bold, sans-serif;
    --font-400: poppins-regular, sans-serif;
}

@font-face {
    font-family: poppins-extrabold;
    src: url('assets/fonts/Poppins-ExtraBold.ttf')format('truetype');
    font-display: swap;
}

@font-face {
    font-family: poppins-bold;
    src: url('assets/fonts/Poppins-Bold.ttf')format('truetype');
    font-display: swap;
}

@font-face {
    font-family: poppins-regular;
    src: url('assets/fonts/Poppins-Regular.ttf')format('truetype');
    font-display: swap;
}

html {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.6rem;
    font-family: var(--font-400);
    text-transform: capitalize;
    color: var(--dark-grayish-violet);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    font-family: var(--font-800);
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

textarea {
    color: var(--dark-green-4);
    font-family: var(--font-400);
    padding: 1.5rem;
    width: 100%;
    resize: none;
    min-height: 50vh;
}

.alura-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1.5rem;
    gap: 3rem;
}

input[type="text"] {
    background: none;
    border: none;
    overflow: hidden;
}

.form-user-action {
    min-width: 100%;
    display: inline-block;
}

.container-autor {
    display: flex;
    max-width: 155px;
    gap: 1.25rem;
    border-radius: 0.625rem;
    padding: 1.25rem;
}

.socials-svg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social {
    align-self: center;
}

.img-social {
    width: 3.25rem;
}

.name-social {
    text-align: center;
    text-transform: capitalize;
}

.important-svg-container {
    width: 2.25rem;
}

.container-message-error {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.message-error {
    font-family: var(--font-400);
    color: var(--dark-green-5);
    margin: 1.25rem 0;
}

.btn-form {
    width: 100%;
    background-color: var(--dark-green-3);
    color: var(--dark-green-5);
    padding: 1rem;
    border: 1px solid var(--dark-green-5);
    border-radius: 0.625rem;
    text-transform: uppercase;
    font-family: var(--font-700);
    font-size: 1.2rem;
}

.btn-form:first-child {
    background-color: var(--dark-green-1);
}

.btn-form:first-child:hover {
    background-color: var(--dark-green-2);
}

.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-error-input-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    border-radius: 0.625rem;
    border: 3px solid var(--dark-green-5);
    padding: 1.75rem 1rem;
}

.empty-icon {
    width: 3rem;
}

.empty-comment {
    line-height: 1.25rem;
    font-family: var(--font-400);
}

.hidden {
    display: none;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--grayish-blue);
    }

    .important-icon {
        fill: var(--light-brown-1);
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-green-2);
    }

    textarea {
        background-color: var(--dark-green-1);
    }

    textarea::placeholder {
        color: var(--dark-green-5);
    }

    .important-icon {
        fill: var(--dark-green-4);
    }

    .btn-form {
        border: 3px solid var(--dark-green-5);
    }

    .container-autor {
        background-color: var(--dark-green-1);
        color: var(--dark-green-5);
        border: 3px solid var(--dark-green-5);
        box-shadow: 0.5rem 0.5rem 0 0 #000;
    }
}

@media screen and (width >= 48rem) {
    .alura-icon {
        position: fixed;
    }
}

@media screen and (width >= 90rem) {
    
}