*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins-extrabold;
    src: url('assets/fonts/Poppins-ExtraBold.ttf')format('truetype');
    font-display: swap;
}

@font-face {
    font-family: poppins-bold;
    src: url('assets/fonts/Poppins-Bold.ttf')format('truetype');
    font-display: swap;
}

@font-face {
    font-family: poppins-regular;
    src: url('assets/fonts/Poppins-Regular.ttf')format('truetype');
    font-display: swap;
}

html {
    display: flex;
    justify-content: center;
}

body {
    padding-bottom: 2rem;
}

h1 {
    font-size: 1.6rem;
    font-family: var(--font-400);
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    font-family: var(--font-800);
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

textarea {
    border: none;
    border-radius: 0.625rem;
    font-family: var(--font-400);
    font-size: 1.1rem;
    padding: 1.5rem;
    width: 100%;
    resize: none;
    min-height: 25vh;
    text-transform: lowercase;
}

textarea::placeholder {
    padding-left: 0.5rem;
}

:root {
    --dark-green-1: #2f3e46;
    --dark-green-2: #354f52;
    --dark-green-3: #52796f;
    --dark-green-4: #84a98c;
    --dark-green-5: #cad2c5;
    --light-brown-1: #b2967d;
    --light-brown-2: #e6beae;
    --light-brown-3: #e7d8c9;
    --light-brown-4: #eee4e1;
    --light-brown-5: #ecf8f8;
    --font-800: poppins-extrabold, sans-serif;
    --font-700: poppins-bold, sans-serif;
    --font-400: poppins-regular, sans-serif;
}

.alura-icon-container {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    padding-top: 6rem;
}

.form-user-action {
    min-width: 100%;
}

.container-autor {
    display: flex;
    max-width: 10rem;
    gap: 1.25rem;
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0.5rem 0.5rem 0 0 #000;
    margin-top: 1.5rem;
}

.socials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social:nth-child(2) {
    animation: animation-twitter 1.35s ease infinite normal backwards;
}

.img-social {
    width: 3.25rem;
}

.name-social {
    text-align: center;
    text-transform: capitalize;
}

.important-svg {
    width: 2.25rem;
}

.container-message-error {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-400);
    margin-bottom: 1.5rem;
}

.btn-copy {
    margin-top: 1.5rem;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-error-input-empty {
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    border-radius: 0.625rem;
    padding: 1.75rem 1rem;
}

.empty-icon {
    width: 3rem;
}

.empty-comment {
    line-height: 1.25rem;
    font-family: var(--font-400);
}

.btn-form {
    position: relative;
    box-shadow: 0.5rem 0.5rem 0 0 #000;
    width: 100%;
    padding: 1rem;
    border-radius: 0.625rem;
    text-transform: uppercase;
    font-family: var(--font-700);
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.textarea-user {
    margin-bottom: 1.5rem;
}

.btn-form:active {
    box-shadow: none;
    left: 0.5rem;
    top: 0.5rem;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--light-brown-2);
    }

    h1 {
        color: var(--light-grayish-violet);
    }

    textarea {
        color: var(--light-brown-4);
        background-color: var(--light-brown-1);
    }

    textarea::placeholder {
        color: var(--light-brown-5);
    }

    .container-error-input-empty {
        border: 3px solid var(--light-brown-5);
    }

    .btn-copy {
        color: var(--light-brown-1);
    }

    .important-icon {
        fill: var(--light-brown-4);
    }

    .container-autor {
        background-color: var(--light-brown-1);
        color: var(--light-brown-5);
        border: 3px solid var(--light-brown-5);
    }
    
    textarea:focus {
        border: none;
        outline:3px solid var(--light-brown-4);
    }
    
    .btn-form:first-child {
        background-color: var(--light-brown-1);
        border: 3px solid var(--light-brown-5);
        color: var(--light-brown-5);
    }

    .btn-form:nth-child(2) {
        border: 3px solid var(--light-brown-1);
        background-color: var(--light-brown-4);
        color: var(--light-brown-1);
    }
    
    .btn-form:first-child:hover {
        background-color: var(--light-brown-2);
    }

    .btn-form:nth-child(2):hover {
        background-color: var(--light-brown-3);
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-green-2);
    }

    h1 {
        color: var(--dark-grayish-violet);
    }

    textarea {
        color: var(--dark-green-4);
        background-color: var(--dark-green-1);
    }

    textarea::placeholder {
        color: var(--dark-green-5);
    }

    .container-error-input-empty {
        border: 3px solid var(--dark-green-5);
    }

    .message-error {
        color: var(--dark-green-5);
    }

    .important-icon {
        fill: var(--dark-green-4);
    }

    .container-autor {
        background-color: var(--dark-green-1);
        color: var(--dark-green-5);
        border: 3px solid var(--dark-green-5);
    }

    .btn-copy {
        color: var(--dark-green-1);
    }

    textarea:focus {
        border: none;
        outline:3px solid var(--dark-green-4);
    }

    .btn-form:first-child {
        background-color: var(--dark-green-1);
        border: 3px solid var(--dark-green-5);
        color: var(--dark-green-5);
    }

    .btn-form:nth-child(2) {
        border: 3px solid var(--dark-green-4);
        background-color: var(--dark-green-1);
        color: var(--dark-green-4);
    }
    
    .btn-form:first-child:hover {
        background-color: var(--dark-green-2);
    }

    .btn-form:nth-child(2):hover {
        background-color: var(--dark-green-2);
    }

}

@media screen and (width >= 48rem) {
    textarea {
        font-size: 1.25rem;
    }

    .container-buttons {
        flex-direction: row;
    }
}

@media screen and (width >= 90rem) {
    body {
        max-width: 90rem;
    }

    textarea {
        min-height: auto;
    }

    .container-buttons {
        margin-bottom: 0;
    }

    .main {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2,calc(50% - 0.75rem));
        column-gap: 1.5rem;
    }

    .container-error-input-empty {
        height: 100%;
        margin: 0;
        justify-content: center;
        gap: 1rem;
    }

    .empty-icon {
        width: 8rem;
    }
}

@keyframes animation-twitter {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(75deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}